version: '3.9'

x-app-service: &default-app
  build: .
  image: rfdez/letsmeet:dev
  command: ''
  volumes:
    - .:/code:delegated
    - node_modules:/code/node_modules:delegated

services:
  app:
    <<: *default-app

  meeting-backend:
    <<: *default-app
    command: bash -c "npm run build && npm run start:meeting:backend"
    ports:
      - '3000:3000'

volumes:
  node_modules:
