services:

  Shared.MongoConfig:
    factory:
      class: ../../../../../Contexts/User/Shared/infrastructure/persistence/mongo/MongoConfigFactory
      method: 'createConfig'

  Shared.ConnectionManager:
    factory:
      class: ../../../../../Contexts/Shared/infrastructure/persistence/mongo/MongoClientFactory
      method: 'createClient'
    arguments: [ 'user', '@Shared.MongoConfig' ]

  Shared.Logger:
    class: ../../../../../Contexts/Shared/infrastructure/Logger/WinstonLogger
    arguments: [ ]

  Shared.EventBus:
    class: ../../../../../Contexts/Shared/infrastructure/Bus/Event/InMemory/InMemorySyncEventBus
    arguments: [ ]
    #    class: ../../../../../Contexts/Shared/infrastructure/Bus/Event/RabbitMq/RabbitMqEventBus
    #    arguments: [ '@Shared.RabbitMqConfig', '@Shared.Logger' ]

  Shared.CommandHandlersInformation:
    class: ../../../../../Contexts/Shared/infrastructure/Bus/Command/CommandHandlersInformation
    arguments: [ '!tagged commandHandler' ]

  Shared.CommandBus:
    class: ../../../../../Contexts/Shared/infrastructure/Bus/Command/InMemoryCommandBus
    arguments: [ '@Shared.CommandHandlersInformation' ]
